obj
Bin
bin
Obj
node_modules
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
~$*
Thumbs.db
ClientBin
Debug
csx
PerfLogs
src/.vs/*
project.lock.json
restore.dg
*.xproj.user
src/starter/Properties/